# Hub API connection
#NLND_HUB_API_URL=http://localhost:8000

# JWT service token verification
# The public key is required you can get it from the Hub backend's .env (NLND_JWT_PUBLIC_KEY)
#NLND_JWT_PUBLIC_KEY=
#NLND_JWT_ISSUER=hub.neuland.ai.com
#NLND_JWT_AUDIENCE=http://localhost:9999
#NLND_JWT_KID=rsa-key-2025-09-15
#NLND_JWT_LEEWAY_SECONDS=60
